<p>
  <b>Start:</b>
  <%=h @instance.start %>
</p>

<p>
  <b>End:</b>
  <%=h @instance.end %>
</p>

<p>
  <b>Title:</b>
  <%=h @instance.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @instance.description %>
</p>

<p>
  <b>Location:</b>
  <%=h @instance.location %>
</p>


<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>
