<p>
  <b>Start:</b>
  <%=h @lan_party.start %>
</p>

<p>
  <b>End:</b>
  <%=h @lan_party.end %>
</p>

<p>
  <b>Title:</b>
  <%=h @lan_party.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @lan_party.description %>
</p>

<p>
  <b>Location:</b>
  <%=h @lan_party.location %>
</p>


<%= link_to 'Edit', edit_lan_party_path(@lan_party) %> |
<%= link_to 'Back', lan_parties_path %>
