<h1>New attendee</h1>

<% form_for(@attendee) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :lan_party_id %><br />
    <%= f.text_field :lan_party_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :handle %><br />
    <%= f.text_field :handle %>
  </p>
  <p>
    <%= f.label :registered_at %><br />
    <%= f.datetime_select :registered_at %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', attendees_path %>
