<p>
  <b>Lan party:</b>
  <%=h @attendee.lan_party_id %>
</p>

<p>
  <b>User:</b>
  <%=h @attendee.user_id %>
</p>

<p>
  <b>Handle:</b>
  <%=h @attendee.handle %>
</p>

<p>
  <b>Registered at:</b>
  <%=h @attendee.registered_at %>
</p>


<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
