<h1>Listing events for <%= @instance.title %> </h1>

<!-- List all of the events -->
<% for dayevents in @events_list %>

<h2>Events for <%= dayevents[0].start.strftime('%A %m/%j/%y') %></h2>

<table>
  <!-- List all of the events for the day -->
  <% for event in dayevents %>
  <tr>
    <td><%=h event.start.strftime('%I:%M') %> - 
        <%=h event.end.strftime('%I:%M')   %></td>
    <td><%=h event.title %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<% end %>

<br />

<%= link_to 'New event', new_event_path %>
