<% @lan_parties.each do |lan_party| %>
  <h1>Events Scheduled for <%= lan_party.title %></h1>
  <table>
    <tr>
      <th>Day</th>
      <th>Time</th>
      <th>Description</th>
    </tr>
  <% lan_party.events.each do |event| %>
    <tr>
      <td><%=event.start.strftime('%D')%></td>
      <td><%=event.start.strftime('%I:%M')%> - <%= event.end.strftime('%I:%M')  %></td>
      <td><%=event.title%></td>
    </tr>
  <% end %>
  </table>
<% end %>
