
<%# --- Display a message if there are no upcoming lan parties --- %>
<% if @instance == nil %>
<p>There are no upcoming lan parties, sorry!</p>

<%# --- Otherwise, display a quick explanation --- %>
<% else %>
		
<h1>Event Schedule for <%= @instance.title %> </h1>
<p>The following is a listing of upcoming events for the lan party.</p>
<p>&nbsp;</p>
<% end %>


<%# --- Iterate through the day "buckets", and display the events for 
        each day --- %>

<% for dayevents in @events_list %>
<h2>Events for <%= dayevents[0].start.strftime('%A %m/%d/%y') %></h2>

<table id="eventstable">
  <tr>
    <th>Time slot</th>
    <th>Description</th>
	<th>Options</th>
  </tr>

  <%# --- Iterate through the list of events for the day, and print --- %> 
  <% for event in dayevents %>
  <% 
	 # See if the time matches, if so highlight the row
     timeIdTag = ""

	 if event.end >= Time.current and event.start <= Time.current
       timeIdTag = "class=\"highlight\""
     end
  %>	 

  <tr>
	<td width="20%" <%= timeIdTag %>>
		<%=h event.start.strftime('%I:%M %p') %> - 
		<%=h event.end.strftime('%I:%M %p')   %>
    </td>

	<td width="60%" <%= timeIdTag %>>
		<%=h event.title %>
    </td>

	<td width="20%" <%= timeIdTag %>>
		<%= link_to 'Show', event %>
    	<%= link_to 'Edit', edit_event_path(event) %>
		<%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>

  <%# End rendering of the day %>
  <% end %>

</table>

<br/><br/>

<%# End iteration of the day lists %>
<% end %>


<%# --- Show a link to creating new events, unless we don't have any
		lan parties --- %>

<% if @instance != nil %>
   <%= link_to 'New event', new_event_path %>
<% end %>
