<p>
  <b>Name:</b>
  <%=h @sponsor.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @sponsor.description %>
</p>

<p>
  <b>Url:</b>
  <%=h @sponsor.url %>
</p>

<p>
  <b>Img small:</b>
  <%=h @sponsor.img_small %>
</p>

<p>
  <b>Img full:</b>
  <%=h @sponsor.img_full %>
</p>

<p>
  <b>Alttext:</b>
  <%=h @sponsor.alttext %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
