<h1>Editing news page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
	<%= f.text_field :title, :size => 80 %>
  </p>
  <p>
    <%= f.label :body %><br />
	<%= f.text_area :body, :rows => 30, :cols => 80 %>
  </p>

  <p>
     All pages are formatted using <A href="http://daringfireball.net/projects/markdown/" target="_BLANK">blackdown</a> syntax. 
	 Need <a href="http://daringfireball.net/projects/markdown/syntax" target="_BLANK">help with the syntax</a>?
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
