<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name() %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'acmlanparty' %>
</head>
<body>

<div id="main">
  <div id="header"></div>
  <div id="content">
    <div align="right" id="navigation">
      <ul>
        <LI><A HREF='/'>Home</A></LI>
        <LI><A HREF='/events'>Events</A></LI>
        <LI><A HREF='/register'>Register</A></LI>
        <LI><A HREF='/attendees'>Attendees</A></LI>
        <LI><A HREF='/directions'>Directions</A></LI>
        <LI><A HREF='/sponsors'>Sponsors</A></LI>
        <LI><A HREF='/faq'>FAQ</A></LI>
        <LI><A HREF='/forums'>Forums</A></LI>
        <LI><A HREF='/pictures'>Pictures</A></LI>
      </ul>
    </div>
    <HR>
    <div id="inthecontent">
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield  %>
    </div>
    </div>
  <div id="footer"> Copyright (c) 2007-2008 - <A HREF="http://acm.cs.uic.edu/">UIC ACM</A></div>
</div>

</body>
</html>
