<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name() %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'acmlanparty' %>
</head>
<body>

<div id="main">
  <div id="header"><%= image_tag("head.jpg")%></div>
  <div id="content">
    <div align="right" id="navigation">
      <ul>
        <LI><%= link_to "Home", root_url%></LI>
	<LI><%= link_to "Events", events_path %></LI>
        <LI><A HREF='/signup'>Register</A></LI>
	<LI><%= link_to "Attendees", attendees_path%></LI>
        <LI><%= link_to "Directions", Page.find_by_permalink("directions")%></LI>
	<LI><%= link_to "Sponsors", sponsors_path%></LI>
        <LI><%= link_to "FAQ", Page.find_by_permalink("faq")%></LI>
        <LI><%= link_to "Pictures", Page.find_by_permalink("pictures")%></LI>
      </ul>
    </div>
    <HR>
    <div id="inthecontent">
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield  %>
    </div>
    </div>
  <div id="footer"> Copyright (c) 2007-2008 - <A HREF="http://acm.cs.uic.edu/">UIC ACM</A></div>
</div>

</body>
</html>
